/* styles.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Overpass Mono", monospace;
  background-color: #fafafa;
}

/* Center content vertically and horizontally */
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Main content styles */
.main-content {
  max-width: 400px; /* Adjust as needed */
}

.input-fields{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  justify-content: center;
}

.input-fields label{
  padding-top: 1rem;
}

.input-row{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* Header styles */
.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 200px; /* Adjust size as needed */
}

/* Content styles */
.l-part {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn{
  width: 10rem;
  padding: 1rem;
  margin-left: 50%;
  margin-top: 3rem;
  
}

.btn:hover{
  cursor: pointer;
}
